<!-- modal informations personnelles -->
<tail-modal class="bg-white" fit-page="true">
  <modal-overlay>
    <modal-content class="rounded-none group-entering:-translate-x-full group-in:translate-x-0 group-exiting:-translate-x-full">
      <modal-header class="justify-start items-center p-3 border-none">
        <modal-close>
          {% render 'icon-arrow-modal' %}
        </modal-close>
      </modal-header>
      <div class="text-center">
        <h3 class="text-xl mt-2 mb-5 text-green">Informations personnelles</h3>
      </div>
      <div class="w-11/12 m-auto mt-10">
        {% render 'account-addresses-mobile', customer: customer %}
      </div>
    </modal-content>
  </modal-overlay>
  <modal-trigger class="w-full flex items-center py-5 border-b bg-white cursor-pointer shadow-lg rounded-lg mb-3">
    <span class="text-base block ml-2">Mes informations personnelles</span>
  </modal-trigger>
</tail-modal>

<!-- modal orders -->
<tail-modal class="bg-white" fit-page="true">
  <modal-overlay>
    <modal-content class="rounded-none min-h-fit group-entering:-translate-x-full group-in:translate-x-0 group-exiting:-translate-x-full">
      <modal-header class="justify-start items-center p-3 border-none">
        <modal-close>
          {% render 'icon-arrow-modal' %}
        </modal-close>
      </modal-header>
      <div class="text-center">
        <h3 class="text-xl mt-2 mb-5 text-green">Mes commandes</h3>
      </div>
      <div class="w-11/12 m-auto mt-10">
        {% render 'account-orders', customer: customer %}
      </div>
    </modal-content>
  </modal-overlay>
  <modal-trigger class="w-full flex items-center py-5 border-b bg-white cursor-pointer shadow-lg rounded-lg mb-3">
    <span class="text-base block ml-2">Mes commandes</span>
  </modal-trigger>
</tail-modal>


<!-- Logout -->
<a href="{{ routes.account_logout_url }}" class="w-full flex items-center py-5 cursor-pointer bg-white shadow-lg rounded-lg mb-3">
  <span class="text-base block ml-2">Déconnexion</span>
</a>