<div class="w-full max-w-4xl min-h-[50vh] rounded-md mx-auto mt-10 bg-slate-200">
    <accordion-group>
        <accordion-element>
            <accordion-trigger>
                <accordion-header>
                    <div>
                        click me
                    </div>
                </accordion-header>
            </accordion-trigger>
            <accordion-content>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eos molestiae, odio rem blanditiis accusantium hic quae incidunt impedit fugit exercitationem architecto accusamus id, totam porro adipisci sunt nisi magnam.
            </accordion-content>
        </accordion-element>
        <accordion-element>
            <accordion-trigger>
                <accordion-header>
                    <div>
                        click me
                    </div>
                </accordion-header>
            </accordion-trigger>
            <accordion-content>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eos molestiae, odio rem blanditiis accusantium hic quae incidunt impedit fugit exercitationem architecto accusamus id, totam porro adipisci sunt nisi magnam.
            </accordion-content>
        </accordion-element>

        <accordion-element>
            <accordion-trigger>
                <accordion-header>
                    <div>
                        click me
                    </div>
                </accordion-header>
            </accordion-trigger>
            <accordion-content>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eos molestiae, odio rem blanditiis accusantium hic quae incidunt impedit fugit exercitationem architecto accusamus id, totam porro adipisci sunt nisi magnam.
            </accordion-content>
        </accordion-element>


    </accordion-group>

    <div class="mt-6">

        <accordion-group class="gap-2 mt-6" oneatatime="false">
            <accordion-element>
                <accordion-trigger>
                    <accordion-header>
                        <div>
                            click me
                        </div>
                    </accordion-header>
                </accordion-trigger>
                <accordion-content>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eos molestiae, odio rem blanditiis accusantium hic quae incidunt impedit fugit exercitationem architecto accusamus id, totam porro adipisci sunt nisi magnam.
                </accordion-content>
            </accordion-element>
            <accordion-element>
                <accordion-trigger>
                    <accordion-header>
                        <div>
                            click me
                        </div>
                    </accordion-header>
                </accordion-trigger>
                <accordion-content>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eos molestiae, odio rem blanditiis accusantium hic quae incidunt impedit fugit exercitationem architecto accusamus id, totam porro adipisci sunt nisi magnam.
                </accordion-content>
            </accordion-element>

            <accordion-element>
                <accordion-trigger>
                    <accordion-header>
                        <div>
                            click me
                        </div>
                    </accordion-header>
                </accordion-trigger>
                <accordion-content>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi eos molestiae, odio rem blanditiis accusantium hic quae incidunt impedit fugit exercitationem architecto accusamus id, totam porro adipisci sunt nisi magnam.
                </accordion-content>
            </accordion-element>


        </accordion-group>
    </div>
    <div class="mt-10">

        {% render "carousel" %}

    </div>


</div>