
{%- assign image_mobile = article.metafields.custom.image_article.value -%}
<div>
  <img class="lazy {% if image_mobile != blank %} hidden {% endif %} md:block h-[320px] w-full object-cover" src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" loading="lazy">
  {% if image_mobile != blank %}
    {% render "image" image:image_mobile.image, class:"w-full object-contain mx-auto md:hidden" %}
  {% endif %} 
</div>
