<a class="anchor" id="{{ title }}"></a>
<div class="max-w-6xl mt-5 mx-auto">
    <div class="text-{{textPosition}}">
        <h3 class="font-bold text-base uppercase mb-4">{{ title }}</h3>
        <div class="text-sm mt-2.5 md:mt-5 leading-[20px]">
            {{ content }}
        </div>
    </div>
</div>