<div class="flex flex-col p-5 mt-auto bg-sable">
  {% for link in elements[0].settings.menu.links %}
    <a href="{{ link.url }}" class="text-left p-2 text-sm font-semibold text-chataigne tracking-[0.03em]">
      <span class="block mt-1">{{ link.title }}</span>
    </a>
  {% endfor %}
</div>