<div class="justify-center h-full items-center hidden overflow-visible lg:flex gap-2">
  {% for link in links %}
    <!-- GET THE SUBMENU -->
    {% assign submenu = blank %}
    {% assign block = blank %}
    {% for block in section.blocks %}
      {% if block.settings.megamenu.title == link.title %}
        {% assign submenu = block.settings.megamenu %}
        {% assign block = block.settings %}
      {% endif %}
    {% endfor %}

    <div class="group h-full flex items-center py-2">
      {% if submenu != blank %}
        <div
          class="Fredoka relative heading-color block px-1 xl:px-3 cursor-pointer text-center text-[11px] xl:text-sm uppercase w-fit
          {% unless link.title contains "pack" or link.title contains "PACK" %}
            link-item hover:text-green hover:font-bold
          {% endunless %}">
          {{ link.title }}
        </div>
      {% else %}
        <a
          href="{{ link.url }}"
          class="Fredoka relative heading-color block px-1 xl:px-3 cursor-pointer text-center text-[11px] xl:text-sm uppercase w-fit
          {% unless link.title contains "pack" or link.title contains "PACK" %}
            link-item  hover:text-green hover:font-bold
          {% endunless %}
          {% if link.title contains "pack" or link.title contains "PACK" %}
            link-pack rounded-lg p-1 hover:text-white
          {% endif %}">
          {{ link.title }}
        </a>
      {% endif %}

      {% if submenu != blank %}
        <div class="absolute lg:left-[-19%] xl:left-[-18%] 2xl:left-[-17%] top-[64px] bg-white w-screen py-5 px-10 z-10 opacity-0 group-hover:block group-hover:opacity-100 overflow-hidden hidden">
          {% if link.title == 'BESOINS' or link.title == 'Besoins' %}
            {% render 'megamenu-besoins' block: block, submenu: submenu %}
          {% elsif link.title == 'PRODUITS' or link.title == 'Produits' %}
            {% render 'megamenu-produits' block: block, submenu: submenu %}
          {% else %}
            {% render 'megamenu' block: block, submenu: submenu, class: "grid gap-4 max-w-3xl grid-cols-3 px-20 mx-auto" %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>