{%- if product.tags contains 'Abricot' -%}
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-abricot.jpg?v=1665579619" alt="">
      <span>Abricots</span>
    </li>
{% endif %}

  {%- if product.tags contains 'Acacia' -%}
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-acacia.jpg?v=1665579619" alt="">
      <span>Acacia</span>
    </li>
  {% endif %}

  {%- if product.tags contains 'Acérola' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-acerola.jpg?v=1665579618" alt="">
    <span>Acérola</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Alchemille' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-alchemille.jpg?v=1665579619" alt="">
    <span>Alchemille</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Amandes' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-amandes.jpg?v=1665579618" alt="">
    <span>Amandes</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Amaranthe' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-amarante.jpg?v=1665579619" alt="">
    <span>Amaranthe</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Anis' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-anis.jpg?v=1665579619" alt="">
    <span>Anis</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Bananes' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-bananes.jpg?v=1665579618" alt="">
    <span>Bananes</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Basilic' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-basilic.jpg?v=1665579619" alt="">
    <span>Basilic</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Basilic_sacré' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-basilic-sacre.jpg?v=1665579619" alt="">
    <span>Basilic sacré</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Betteraves' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-betterave.jpg?v=1665579618" alt="">
    <span>Betteraves</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Beurre_de_cacao' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-beurre-cacao.jpg?v=1665579619" alt="">
    <span>Beurre de cacao</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Biotine' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-biotine.jpg?v=1667992699" alt="">
    <span>Biotine</span>
   </li>
   {% endif %}

  {%- if product.tags contains 'Bisglycinate' or product.tags contains 'bisglycinate' or product.tags contains 'Bisglycinate de fer' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-bisglycinate-fer.jpg?v=1665579618" alt="">
    <span>Bisglycinate de fer</span>
   </li>
   {% endif %}

   {%- if product.tags contains 'Cacao_cru' or product.tags contains 'Cacao cru' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-cacao-cru.jpg?v=1665579619" alt="">
    <span>Cacao cru</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Cacao en poudre' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-cacao-poudre.jpg?v=1665579618" alt="">
    <span>Cacao en poudre</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Camomille' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-camomille.jpg?v=1665579618" alt="">
    <span>Camomille</span>
   </li>

{% endif %}
{%- if product.tags contains 'Cannelle' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-cannelle.jpg?v=1665579619" alt="">
    <span>Cannelle</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Cardamome' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-cardamone.jpg?v=1665579619" alt="">
    <span>Cardamome</span>
   </li>

{% endif %}
{%- if product.tags contains 'Carottes' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-carotte_e4bd7891-a61a-409e-ba3d-6cac7448627d.jpg?v=1666871064" alt="">
    <span>Carottes</span>
   </li>

{% endif %}
{%- if product.tags contains 'Carvi' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-carvi.jpg?v=1665579619" alt="">
    <span>Carvi</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Cassissier' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-cassissier.jpg?v=1665579618" alt="">
    <span>Cassissier</span>
   </li>

{% endif %}
{%- if product.tags contains 'Chocolat' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-chocolat.jpg?v=1665582205" alt="">
    <span>Chocolat</span>
   </li>

{% endif %}
{%- if product.tags contains 'Citronnelle' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-citronnelle.jpg?v=1665579619" alt="">
    <span>Citronnelle</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Collagène marin' or product.tags contains 'Collagène Marin' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-collagene-marin.jpg?v=1665579618" alt="">
    <span>Collagène marin</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Cranberries' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-cranberries.jpg?v=1665579618" alt="">
    <span>Cranberries</span>
   </li>

{% endif %}
{%- if product.tags contains 'Cumin' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-cumin.jpg?v=1665579619" alt="">
    <span>Cumin</span>
   </li>

{% endif %}
{%- if product.tags contains 'Curcuma' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-curcuma.jpg?v=1665579619" alt="">
    <span>Curcuma</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Extrait_citron' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-citron.jpg?v=1665579618" alt="">
    <span>Extrait_citron</span>
   </li>

{% endif %}
{%- if product.tags contains 'Extraits_plantes' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-extraits-plantes.jpg?v=1665579619" alt="">
    <span>Extraits_plantes</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Extrait_épinards' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-epinard.jpg?v=1665579619" alt="">
    <span>Extrait_épinards</span>
   </li>

{% endif %}
{%- if product.tags contains 'Fenouil' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-fenouil.jpg?v=1665579618" alt="">
    <span>Fenouil</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Fenugrec' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-fenugrec.jpg?v=1665579619" alt="">
    <span>Fenugrec</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Fleur_oranger' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-fleur-oranger.jpg?v=1665579618" alt="">
    <span>Fleur_oranger</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Flocons_avoine' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-avoine.jpg?v=1665579619" alt="">
    <span>Flocons_avoine</span>
   </li>

{% endif %}
{%- if product.tags contains 'Fraises' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-fraise.jpg?v=1665579619" alt="">
    <span>Fraises</span>
   </li>

{% endif %}
{%- if product.tags contains 'Framboises' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-framboise.jpg?v=1665579619" alt="">
    <span>Framboises</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Friend of the sea' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/FOS_acajou_1.png?v=1665582246" alt="">
    <span>Friend of the sea</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Fruits rouges' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-fruits-rouges.jpg?v=1665581880" alt="">
    <span>Fruits rouges </span>
   </li>

{% endif %}
{%- if product.tags contains 'Gattilier' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-gattilier.jpg?v=1665579619" alt="">
    <span>Gattilier</span>
   </li>

{% endif %}
 {%- if product.tags contains 'Gingembre' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-gingembre.jpg?v=1665579619" alt="">
    <span>Gingembre</span>
   </li>

{% endif %}
{%- if product.tags contains 'Glycérophosphate_magnésium' or product.tags contains 'Glycérophosphate de magnésium' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-magnesium.jpg?v=1665579619" alt="">
    <span>Glycérophosphate de magnésium</span>
   </li>

{% endif %}

{%- if product.tags contains 'Graines_cacaoyer' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-graine-cacaoyer.jpg?v=1665579618" alt="">
    <span>Graines de cacaoyer</span>
    </li>
  {% endif %}
   {%- if product.tags contains 'Graines de chanvre' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-graine-chanvre.jpg?v=1665579619" alt="">
    <span>Graines de chanvre</span>
    </li>
  {% endif %}
   {%- if product.tags contains 'Graines de chia' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-graine-chia.jpg?v=1665579618" alt="">
    <span>Graines de chia</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Graines de courge' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-graine-courge.jpg?v=1665579619" alt="">
    <span>Graines de courge</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Graines de lin blond' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-graine-lin-blond.jpg?v=1665579619" alt="">
    <span>Graines de lin blond</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Graines de lin brun' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-graine-lin-brun.jpg?v=1665579619" alt="">
    <span>Graines de lin brun</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Graines de tournesol' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-graine-tournesol.jpg?v=1665579619" alt="">
    <span>Graines de tournesol</span>
    </li>
    {% endif %}

     {%- if product.tags contains 'Herbes de Provence' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-herbes-provence.jpg?v=1665579619" alt="">
    <span>Herbes de Provence</span>
    </li>

 {% endif %}
  {%- if product.tags contains 'Huile de colza' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-huile-colza.jpg?v=1665579619" alt="">
    <span>Huile de colza</span>
    </li>
    {% endif %}

   {%- if product.tags contains "Huile d'olive" -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-huile-olive.jpg?v=1665579618" alt="">
    <span>Huile d'olive</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Huile de noisette' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-huile-noisette.jpg?v=1665579618" alt="">
    <span>Huile de noisette</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Huile de tournesol' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-huile-tournesol.jpg?v=1665579618" alt="">
    <span>Huile de tournesol</span>
    </li>
    {% endif %}

   {%- if product.tags contains "Jus concentré d'orange" -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-jus-orange.jpg?v=1665579619" alt="">
    <span>Jus concentré d'orange</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Jus concentré de mûres' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-jus-concentre-mure.jpg?v=1665579618" alt="">
    <span>Jus concentré de mûres</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Jus concentré de myrtille' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-jus-concentre-myrtilles.jpg?v=1665579619" alt="">
    <span>Jus concentré de myrtille</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Jus de pêche' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-jus-peche.jpg?v=1665579619" alt="">
    <span>Jus de pêche</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Kombu royal' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-kombu-royal.jpg?v=1665579619" alt="">
    <span>Kombu royal</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Lamier blanc' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-lamier-blanc.jpg?v=1665579618" alt="">
    <span>Lamier blanc</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Lavande' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-lavande.jpg?v=1665581794" alt="">
    <span>Lavande</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Levure de bière' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-levure-biere.jpg?v=1665579619" alt="">
    <span>Levure de bière</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Lithothamne' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-lithothamne.jpg?v=1665579619" alt="">
    <span>Lithothamne</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Lucuma' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-lucuma.jpg?v=1665579618" alt="">
    <span>Lucuma</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Maca' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-maca.jpg?v=1665579619" alt="">
    <span>Maca</span>
    </li>
    {% endif %}

   {%- if product.tags contains "Marronnier d'Inde" -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-marronnier-inde.jpg?v=1665579619" alt="">
    <span>Marronnier d'Inde</span>
  {% endif %}

   {%- if product.tags contains 'Matcha' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-matcha.jpg?v=1665579619" alt="">
    <span>Matcha</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Mélange de graines' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-melange-graines.jpg?v=1665579619" alt="">
    <span>Mélange de graines</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Mélisse' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-melisse.jpg?v=1665579619" alt="">
    <span>Mélisse</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Microalgue Schizochytrium sp' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-huile-microalgue-schizochytrium.jpg?v=1665579619" alt="">
    <span>Huile de micro algue de Schizochytrium</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Millepertuis' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-millepertuis.jpg?v=1665579619" alt="">
    <span>Millepertuis</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Moringa' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-moringa_c5e09e81-79a8-4cdd-bbfc-9320e9a3db2b.jpg?v=1667827441" alt="">
    <span>Moringa oleifera</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Myrtilles' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-myrtille.jpg?v=1665579619" alt="">
    <span>Myrtilles</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Noisettes' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-noisette.jpg?v=1665579618" alt="">
    <span>Noisettes</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Noix' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-noix.jpg?v=1665579619" alt="">
    <span>Noix</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Noix de cajou' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-noix-cajou.jpg?v=1665579619" alt="">
    <span>Noix de cajou</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Noix de coco' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-noix-coco.jpg?v=1665579619" alt="">
    <span>Noix de coco</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Noix de macadamia' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-noix-macadamia.jpg?v=1665579619" alt="">
    <span>Noix de macadamia</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Noix du brésil' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-noix-bresil.jpg?v=1665582090" alt="">
    <span>Noix du brésil</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Oignon' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-oignon.jpg?v=1665579619" alt="">
    <span>Oignon</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Ortie piquante' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-ortie.jpg?v=1665579619" alt="">
    <span>Ortie piquante</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Os de poulet' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-os-poulet.jpg?v=1665579619" alt="">
    <span>Os de poulet</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Passiflore' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-passiflore.jpg?v=1665579619" alt="">
    <span>Passiflore</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Pâte de dattes' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-pate-datte.jpg?v=1665579619" alt="">
    <span>Pâte de dattes</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Pépites de chocolat' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-pepites-chocolat.jpg?v=1665579619" alt="">
    <span>Pépites de chocolat</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Pin maritime' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-pin-maritime.jpg?v=1665579619" alt="">
    <span>Pin maritime</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Pistaches' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-pistache.jpg?v=1665579619" alt="">
    <span>Pistaches</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Pleurotes' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-pleurote.jpg?v=1665579618" alt="">
    <span>Pleurotes</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Poivre noir' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-poivre-noir.jpg?v=1665579619" alt="">
    <span>Poivre noir</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Pommes' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-pommes.jpg?v=1665579619" alt="">
    <span>Pommes</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Pruneaux' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-pruneaux.jpg?v=1665579619" alt="">
    <span>Pruneaux</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Psyllium' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-psyllium.jpg?v=1665579619" alt="">
    <span>Psyllium</span>
    </li>
    {% endif %}

   {%- if product.tags contains "Purée d'amandes blanches" -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-puree-amandes-blanches.jpg?v=1665579619" alt="">
    <span>Purée d'amandes blanches</span>
    </li>
    {% endif %}

   {%- if product.tags contains "Purée d'amandes complètes" -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-puree-amandes-completes.jpg?v=1665579619" alt="">
    <span>Purée d'amandes complètes</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Purée de cajou' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-puree-cajou.jpg?v=1665579619" alt="">
    <span>Purée de cajou</span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Purée de noisettes ' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-puree-noisettes.jpg?v=1665579619" alt="">
    <span>Purée de noisettes </span>
    </li>
    {% endif %}

   {%- if product.tags contains 'Quality silver' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/QUALITY_SILVER_acajou_1.png?v=1665582297" alt="">
    <span>Quality silver</span>
  {% endif %}

   {%- if product.tags contains 'Quatrefolic' -%}
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/JM-logo-quatrefolic.png?v=1666195895" alt="">
      <span>Quatrefolic</span>
    </li>
  {% endif %}
   {%- if product.tags contains 'Rhodiole' -%}
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-rhodiole.jpg?v=1665579619" alt="">
      <span>Rhodiole</span>
    </li>
   {% endif %}
   {%- if product.tags contains 'Safran' -%}
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-safran.jpg?v=1665579619" alt="">
      <span>Safran</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Sarrasin' -%}
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-sarrasin.jpg?v=1665579619" alt="">
      <span>Sarrasin</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Sel' -%}
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-sel.jpg?v=1665579619" alt="">
      <span>Sel</span>
      </li>
    {% endif %}
   {%- if product.tags contains 'Shatavari' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-shatavari.jpg?v=1665579619" alt="">
    <span>Shatavari</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Shiitaké' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-shiitake.jpg?v=1665579619" alt="">
    <span>Shiitaké</span>
    </li>
    {% endif %}
   {%- if product.tags contains "Sirop d'agave" -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-sirop-agave.jpg?v=1665579619" alt="">
    <span>Sirop d'agave</span>
    </li>
    {% endif %}
   {%- if product.tags contains "Sirop d'érable" -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-sirop-erable.jpg?v=1665579619" alt="">
    <span>Sirop d'érable</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Spiruline' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ingredients-spiruline.jpg?v=1667139331" alt="">
    <span>Spiruline</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Sucre de coco' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-sucre-coco.jpg?v=1665579619" alt="">
    <span>Sucre de coco</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Tomates séchées' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-tomates-sechees.jpg?v=1665579619" alt="">
    <span>Tomates séchées</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Trèfle rouge' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-trefle-rouge.jpg?v=1665579619" alt="">
    <span>Trèfle rouge</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Vanille' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-vanille.jpg?v=1665579619" alt="">
    <span>Vanille</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Verveine' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-verveine.jpg?v=1665579619" alt="">
    <span>Verveine</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Vigne rouge' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-vigne-rouge_1.jpg?v=1665579619" alt="">
    <span>Vigne rouge</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Vinaigre de cidre de pomme' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-vinaigre-cidre-pomme.jpg?v=1665579619" alt="">
    <span>Vinaigre de cidre de pomme</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Vitacholine' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/JM-logo-vitacholine.png?v=1666195894" alt="">
    <span>Vitacholine</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Vitamine B6' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-vitamineB.jpg?v=1665579619" alt="">
    <span>Vitamine B6</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Vitamine K2 MK7' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/actif-vitamine-k2.jpg?v=1665579618" alt="">
    <span>Vitamine K2 MK7</span>
    </li>
    {% endif %}
   {%- if product.tags contains "Zeste d'orange" -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-zeste-orange.jpg?v=1665579619" alt="">
    <span>Zeste d'orange</span>
    </li>
    {% endif %}
   {%- if product.tags contains 'Zinc' -%}
    <li>
    <img src="https://cdn.shopify.com/s/files/1/0636/1966/2070/files/ing-zinc_0e4db658-a7ae-4e5c-8b26-f5003d775830.jpg?v=1667992699" alt="">
    <span>Zinc</span>
    </li>
  {% endif %}
