<div class="flex flex-col lg:flex-row justify-center gap-5">
  <img src="https://cdn.shopify.com/s/files/1/0681/5494/9926/files/popit-sticker-mure.svg?v=1671635389" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0681/5494/9926/files/popit-sticker-gummies.svg?v=1671635388" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0681/5494/9926/files/popit-sticker-feuille.svg?v=1671635389" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0681/5494/9926/files/popit-sticker-gummies-sommeil.svg?v=1671635389" alt="">
</div>