{%- for media in product.media -%}
  {%- assign product_media_size = product.media.size -%}
{% endfor %}

<div class="flex justify-center items-center">
  <!-- carousel desktop -->
  <div class="hidden lg:block">
    <tail-carousel
      class="relative"
      slidesToShow="md:1"
      data-auto-dots="false">
      <carousel-dots class="hidden lg:flex flex-col absolute z-10 gap-1 top-[50%] lg:left-[-5%] xl:left-[-20%] translate-y-[-50%]">
        {%- for media in product.media -%}
          <carousel-dot class="py-2 text-center transition-all cursor-pointer group" href="{{ media }}">
            <div class="{% if product_media_size >= 8 %} w-[40px] h-[40px]  {% else %} w-[60px] h-[60px] {% endif %} rounded-full  lg:hover:ring-capucine  group-selected:border-white group-selected:border-2 transition-all flex justify-center ">
              <img class="rounded-full" src="{{ media  | image_url: width: 52, height: 52 }}">
            </div>
          </carousel-dot>
        {%- endfor -%}
      </carousel-dots>
      <carousel-container class="w-[440px] h-[440px] bg-white rounded-lg mx-auto flex justify-center">
        <carousel-content>
          {%- for media in product.media -%}
            <carousel-panel class="flex items-center">
              {% render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants, class: 'w-full mx-auto' %}
            </carousel-panel>
          {% endfor %}
        </carousel-content>
      </carousel-container>
    </tail-carousel>
  </div>

  <!-- carousel mobile -->
  <div class="lg:hidden">
    <tail-carousel slidesToShow="xs:1 sm:1" class="relative top-[15px]">
      <carousel-container class="w-[230px] h-[230px] md:w-[300px] md:h-[300px] bg-white rounded-full mx-auto flex justify-center">
        <carousel-content>
          {%- for media in product.media -%}
            <carousel-panel class="flex items-center">
              <img
                class="lazy max-w-[150px] md:max-w-[200px] mx-auto"
                data-src="{{ media | img_url:'master' }}"
                alt="{{ media.alt }}"
                loading="lazy">
            </carousel-panel>
          {% endfor %}
        </carousel-content>
      </carousel-container>

      {% if show_dots %}
        <carousel-dots class="relative flex justify-center mt-6 lg:hidden">
          {%- for media in product.media -%}
            <carousel-dot class="w-2 h-2 m-1 transition-all bg-white border rounded-full border-white selected:bg-violet selected:border-violet selected:w-10 selected:scale-110"></carousel-dot>
          {% endfor %}
        </carousel-dots>
      {% endif %}
    </tail-carousel>
  </div>
</div>