<div class="text-center py-5 bg-green-light">
  <div class="">
    {% render 'breadcrumbs', class: 'text-green-dark' %}
  </div>

  <h1 class="text-3xl md:text-5xl text-green-dark my-3">
    Mon compte
  </h1>

  <tail-details class="text-sm w-11/12 max-w-2xl m-auto">
    <details-part>
      <div class="text-sm">
        Bienvenue sur la page de votre compte..
      </div>
    </details-part>
    <details-part>
      <div class="text-sm mt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </details-part>
    <see-more class="block mt-5 text-sm underline capitalize" style="color: {{ section.settings.color }};">Voir plus</see-more>
    <div class="text-center mt-3">
      <see-less class="hidden justify-center mt-5 text-sm underline capitalize" style="color: {{ section.settings.color }};">Voir moins</see-less>
    </div>
  </tail-details>

</div>

<div class="w-11/12 mx-auto py-10">
  <!-- header with loyalty -->
  <div class="bg-beige rounded-lg p-5 text-center max-w-3xl mx-auto">
    <h2 class="text-xl mb-5 text-center italic">Bonjour {{ customer.first_name }}!</h2>
    <p class="text-sm">Vous avez actuellement :</p>
    <h3 class="text-xl text-green">250 points</h3>
    <a href="/pages/loyalty" class="block btn-primary w-fit mt-5 mx-auto {% render "button", size:"large", color:"green" %}">
      Voir mes récompenses
    </a>
  </div>

  <!-- menu mobile -->
  <div class="block md:hidden">
    {% render 'account-mobile-modals', customer: customer %}
  </div>

  <!-- desktop-->
  <div class="hidden md:block max-w-7xl mx-auto mt-10">
    <div>
      {% render 'account-orders', customer: customer %}
    </div>
    <div>
      {% render 'account-addresses', customer: customer %}
    </div>
  </div>
</div>