<div class="py-5">
  <div class="flex lg:justify-center relative overflow-hidden overflow-x-scroll snap-mandatory snap-x gap-3 scrollbar-none px-4">
    {% for block in section.blocks %}
      <a
        href="{{ block.settings.link }}"
        class="rounded-full text-center px-4 py-2 text-sm"
        style="background-color: {{ block.settings.bg_color }}; color: {{ block.settings.color }};">
        {{ block.settings.title }}
      </a>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Collection links",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "name": "Link",
        "type": "link",
        "settings": [

          {
            "type": "header",
            "content": "text"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Sommeil"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Anchor link"
          },
          {
            "type": "header",
            "content": "colors"
          }, {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#D9E6B1"
          }, {
            "type": "color",
            "id": "color",
            "label": "Text color",
            "default": "#3D925C"
          }
        ]
      }
    ]
  }
{% endschema %}