
<section>
 <div class="my-10 text-left w-11/12 max-w-5xl mx-auto">
   <div class="text-center text-[15px] mx-5 md:mx-36 mt-[62px] ">
       {% if section.settings.title != blank  %}
         <{% if template contains 'collection' %}h2{% else %}h1{% endif %} class="mt-5 text-[32px] font-medium" style="color:{{ section.settings.title_color }}"> {{ section.settings.title }} </{% if template contains 'collection' %}h2{% else %}h1{% endif %}>
       {% endif %}
   </div>
     <accordion-group>
        {% for block in section.blocks %}
          {% render 'faq', block: block %}
        {% endfor %}
      </accordion-group>
    </div>
    {% if section.blocks.size > 0 %}
      <script type="application/ld+json">
        {
          "@context":"https://schema.org",
          "@type":"FAQPage",
          "mainEntity":[
            {% for block in section.blocks -%}
              {
                "@type":"Question",
                "name":"{{ block.settings.question }}",
                "acceptedAnswer":
                {
                  "@type":"Answer",
                  "text":"{{ block.settings.answer }}"
                }
              },
            {%- endfor %}
          ]
        }
      </script>
    {% endif %}
</section>



{% schema %}
{
 "name": "FAQ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "FAQ",
      "label": "Title FAQ"
    },
    {
          "type": "header",
          "content": "colors"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title color",
          "default": "#733E2B"
        },
        {
          "type": "color",
          "id": "title_accordion_color",
          "label": "Title accordion color",
          "default": "#733E2B"
        },
        {
        "type": "color",
        "id": "content_accordion_color",
        "label": "Text accordion color",
        "default": "#927254"
        }
   ],
   "blocks": [
     {
    "name": "FAQ Accordion",
    "type": "block",
    "settings": [
        {
        "type": "text",
        "id": "question",
        "default": "Est-ce que cette poudre est vegan ?",
        "label": "FAQ Title"
        },
        {
        "type": "text",
        "id": "answer",
        "default": "Non, cette poudre n'est pas vegan car nous avons mis du collagène marin issu de poissons.",
        "label": "FAQ content"
        }
      ]
     }
   ],
   "presets": [
    {
      "name": "FAQ",
      "blocks": [
        {
          "type": "block"
        },
        {
          "type": "block"
        },
        {
          "type": "block"
        }

      ]
    }
  ]
}
{% endschema %}
