{% if product.tags contains "sommeil" %}
  {% assign product-color = "violet" %}
  {% assign product_color = "#4F2674" %}
  {% assign bg_color = "background: linear-gradient(168.52deg, rgba(188, 134, 186, 0.5) 0%, rgba(233, 210, 231, 0.5) 70.09%, rgba(233, 210, 231, 0.25) 94.77%);" %}
{% elsif product.tags contains "energie" %}
  {% assign product-color = "orange-energy" %}
  {% assign product_color = "#EA5B0C" %}
  {% assign bg_color = "background: linear-gradient(168.52deg, rgba(234, 91, 12, 0.4) 0%, rgba(245, 162, 110, 0.8) 35.48%, #FEE5C6 59.33%, rgba(254, 229, 198, 0.5) 94.77%);" %}
{% elsif product.tags contains "hair" %}
  {% assign product-color = "red-hair" %}
  {% assign product_color = "#E4003A" %}
  {% assign bg_color = "background: linear-gradient(168.52deg, rgba(209, 44, 64, 1) 0%, rgba(221, 117, 145, 1) 35.48%, #f6dcdc 59.33%, rgba(246, 220, 220, 1)  94.77%);" %}

{% else %}
  {% assign product-color = "blue" %}
  {% assign product_color = "#2F52A0" %}
  {% assign bg_color = "background: linear-gradient(168.52deg, rgba(47, 82, 160, 0.4) 0%, rgba(105, 172, 223, 0.8) 35.48%, #CBE7E6 59.33%, rgba(203, 231, 230, 0.5) 94.77%);" %}
{% endif %}

<section class="main-product pt-24 lg:pt-28 pb-10">
  <div class="relative flex flex-col lg:flex-row gap-8 lg:gap-2 max-w-7xl mx-auto">
    <!-- product carousel -->
    <div class="w-full lg:w-1/2 relative lg:sticky h-fit top-0 lg:top-20">
      {% render 'product-carousel', product: product, show_dots: section.settings.show_dots_mobile, product-color: product-color, product_color: product_color %}
      <div class="absolute top-[50%] translate-y-[-50%] right-[5%] lg:relative lg:top-0 lg:right-0 lg:translate-y-0 lg:mt-5">
        {% render 'product-icons' %}
      </div>
    </div>
    <!-- product info -->
    <div class="w-full lg:w-1/2">
      {% render 'product-info', product: product, product-color: product-color, product_color: product_color %}
      {% render 'product-benefits', product: product, product-color: product-color, product_color: product_color, bg_color: bg_color %}
    </div>
  </div>
</section>
<style>
  {% if product.tags contains "sommeil" %}
    .main-product {
      background: linear-gradient(168.52deg, rgba(79, 38, 116, 0.4) 0%, rgba(188, 134, 186, 0.8) 35.48%, #E9D2E7 59.33%, rgba(233, 210, 231, 0.5) 94.77%);
    }
  {% elsif product.tags contains "energie" %}
    .main-product {
      background: linear-gradient(168.52deg, rgba(234, 91, 12, 0.4) 0%, rgba(245, 162, 110, 0.8) 35.48%, #FEE5C6 59.33%, rgba(254, 229, 198, 0.5) 94.77%);
    }
  {% elsif product.tags contains "hair" %}
    .main-product {
      background: linear-gradient(168.52deg, rgba(209, 44, 64, 1) 0%, rgba(221, 117, 145, 1) 35.48%, #f6dcdc 59.33%, rgba(246, 220, 220, 1)  94.77%);"
    }
  {% else %}
    .main-product {
      background: linear-gradient(168.52deg, rgba(47, 82, 160, 0.4) 0%, rgba(105, 172, 223, 0.8) 35.48%, #CBE7E6 59.33%, rgba(203, 231, 230, 0.5) 94.77%);

    }
  {% endif %}
</style>

{% schema %}
  {
    "name": "Main product",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Product title",
        "limit": 1
      },
      {
        "type": "subtitle",
        "name": "Metafield subtitle",
        "limit": 1,
        "settings": []
      },
      {
        "type": "contenance",
        "name": "Contenance",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "contenance_text",
            "label": "Contenance text",
            "default": "<p>Le fenugrec soutient la production de lait.</p>"
          }
        ]
      }, {
        "type": "weight",
        "name": "Weight",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "weight_text",
            "label": "Text",
            "default": "<p>112g de poudre par pot, soit 15 doses.</p>"
          }
        ]
      }, {
        "type": "stars",
        "name": "Stars",
        "limit": 1,
        "settings": []
      }, {
        "type": "delivery_note",
        "name": "Delivery note",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }, 
          {
            "type": "image_picker",
            "id": "truck",
            "label": "Truck"
          },
          {
            "type": "textarea",
            "id": "text_2",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "oclock",
            "label": "O'clock"
          }
        ]
      }, {
        "type": "klarna",
        "name": "Klarna",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }, {
        "type": "price",
        "name": "Price",
        "limit": 1
      }, {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      }, {
        "type": "quantity_selector",
        "name": "Quantity selector",
        "limit": 1
      }, {
        "type": "variant_picker",
        "name": "Variants",
        "limit": 1,
        "settings": []
      }, {
        "type": "buy_buttons",
        "name": "CTA buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "CTA Button",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
          }, {
            "type": "checkbox",
            "id": "show_quantity",
            "default": true,
            "label": "Show quantity"
          }
        ]
      }, {
        "type": "description",
        "name": "Product description",
        "limit": 1
      }, {
        "type": "short_description",
        "name": "short description",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "short_text",
            "label": "Short text",
            "default": "<p>Ce complément alimentaire contient du collagène, un allié pour retendre la peau, lui redonner son élasticité, et prévenir et atténuer les vergetures.</p>"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "show_dots_mobile",
        "default": true,
        "label": "Display dots in mobile carousel"
      }
    ]
  }
{% endschema %}