{% assign s = section.settings %}
{% assign collection = section.settings.collection %}
{% assign collection_2 = section.settings.collection_2 %}
<section class="py-10 md:py-10 w-11/12 max-w-{{ section.settings.container }} mx-auto">
  <div class="">
    <tail-tabs class="relative">
      <tabs-buttons class="justify-center gap-3 md:gap-4 text-center mb-2 md:mb-4 relative">
        <div class="tab block relative group transition-all !border-[0] pb-3 cursor-pointer selected:border-b-2 selected:after:content-['']  selected:text-green selected:after:block selected:after:bg-green selected:after:w-[70%] selected:after:h-[3px] selected:after:absolute selected:after:bottom-[5px] selected:after:left-[50%] selected:after:translate-x-[-50%] selected:after:mx-auto">
          {% if s.title != blank %}
            <h3 class="text-xl md:text-3xl font-bold text-green">
              {{ s.title }}
            </h3>
          {% else %}
            <h3 class="text-xl md:text-3xl group:selected:font-bold group:selected:text-green">
              {{ s.collection.title }}
            </h3>
          {% endif %}
        </div>
      </tabs-buttons>
      <tabs-panels>
        {% if collection %}
          <!-- collection 1 -->
          <div class="">
            <tail-carousel slidesToShow="xs:2 md:3 lg:3 xl:4">
              <carousel-container class="lg:w-11/12 mx-auto">
                <carousel-content class="w-full">
                  {% for product in collection.products %}
                    <carousel-panel class="px-1.5 md:px-2">
                      {% render 'card-product'
                       collection: collection,
                       product: product,
                       card_product: product,
                       show_secondary_image: section.settings.show_secondary_image,
                       show_quick_add: true %}
                    </carousel-panel>
                  {% endfor %}
                </carousel-content>
              </carousel-container>
              {% if s.show_arrows %}
                <carousel-next class="arrow hidden lg:block absolute rounded-lg bg-green-light py-2 px-3 right-[-6px] top-[50%] translate-y-[-50%] z-[1] cursor-pointer disabled:opacity-50 disabled:cursor-auto">
                  {% render 'icon-arrow-right' %}
                </carousel-next>
                <carousel-prev class="rotate-180 arrow hidden lg:block absolute rounded-lg bg-green-light py-2 px-3 left-[-6px] top-[50%] translate-y-[-50%] z-[1] cursor-pointer disabled:opacity-50 disabled:cursor-auto selected:bg-[#E3F2ED]">
                  {% render 'icon-arrow-left' %}
                </carousel-prev>
              {% endif %}

              {% if s.show_dots %}
                <carousel-dots class="relative flex justify-center mx-auto mt-4">
                  {% for product in collection.products %}
                    <carousel-dot class="w-3 h-3 m-1 transition-all bg-gray-300 border rounded-full border-gray-300 selected:bg-green selected:border-green selected:w-10 selected:scale-110"></carousel-dot>
                  {% endfor %}
                </carousel-dots>
              {% endif %}
            </tail-carousel>
          </div>
        {% endif %}
        <!-- close collection 1 -->
    
      </tabs-panels>
    </tail-tabs>
  </div>
</section>
<style>
  .tab[aria-selected="true"] h3 {
    color: #4B9B7D;
    font-weight: 700;
  }

  .arrow[disabled=true] {
    opacity: .5;
  }
</style>

{% schema %}
  {

    "name": "Products carousel",
    "settings": [
      {
        "type": "select",
        "id": "container",
        "options": [
          {
            "value": "7xl",
            "label": "large"
          }, {
            "value": "5xl",
            "label": "medium"
          }, {
            "value": "3xl",
            "label": "small"
          }
        ],
        "default": "7xl",
        "label": "Container desktop"
      },

      {
        "type": "collection",
        "id": "collection",
        "label": "Collection to display"
      },
      {
        "type": "text",
        "id": "title",
        "label": "section title",
        "default": "Title"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 0,
        "max": 25,
        "step": 1,
        "default": 6,
        "label": "Maximum products to show"
      }, {
        "type": "checkbox",
        "id": "show_secondary_image",
        "label": "Show secondary image on hover?",
        "default": false
      }, {
        "type": "checkbox",
        "id": "show_quantity",
        "default": false,
        "label": "Show quantity"
      }, {
        "type": "checkbox",
        "id": "show_cta",
        "default": true,
        "label": "Show add to cart"
      }, {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show arrows",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_dots",
        "label": "Show bar",
        "default": true
      }

    ],
    "presets": [
      {
        "name": "Product Carousel"
      }
    ]
  }
{% endschema %}