html {
  scroll-behavior: smooth;
}

/* anchors position */

a.anchor {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;
}

/* scrollbar */

.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  padding-right: 50px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  width: 90%;
  max-width: 200px;
  display: block;
  padding-right: 50px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4B9B7D;
  /* color of the scroll thumb */
  border: 2px solid #4B9B7D;
  height: 5px;
  width: 5px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}


/* accordion */

accordion-element {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

accordion-element[data-open="true"] .icon-plus {
  display: none;
}

accordion-element[data-open="true"] .icon-minus {
  display: block;
}

/* Gradient links */
.link-pack {
  background: linear-gradient(147.2deg, #4B9B7D 0%, rgba(75, 155, 125, 0.8) 22.03%, #D7E6AF 78.4%, rgba(215, 230, 175, 0.5) 100%);
}

.link-item:hover::after {
  content: '';
  display: block;
  width: 65%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4B9B7D;
  border-radius: 3px;
}

/* card product */
.card-description p {
  font-size: 14px;
}

/* workaround for the home with the announcement bar */
.drawer-with-announcement {
  top: 35px;
}

/* menu list before */
.menu-list::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #efefef;
  position: relative;
  top: 8px;
  margin-right: 5px;
}

.collection-card {
  background: linear-gradient(168.52deg, #4B9B7D 0%, rgba(75, 155, 125, 0.8) 35.48%, #D7E6AF 59.33%, rgba(215, 230, 175, 0.5) 94.77%);
}

/* JUDGE ME */
.jdgm-preview-badge .jdgm-star.jdgm-star {
    font-size: 16px;
}

.jdgm-prev-badge__text {
    font-size: 16px;
}

.jdgm-rev-widg {
    max-width: 900px;
    margin: 50px auto !important;
    font-size: 16px;
}

.jdgm-rev-widg__title {
    visibility: unset;
    font-size: 1.875rem;
    margin-bottom: 50px !important;
}

@media (max-width: 639px) {
  .jdgm-rev-widg {
    font-size: 14px;
}

}