html {
  scroll-behavior: smooth;
}

/* anchors position */

a.anchor {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;
}

/* scrollbar */

.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  padding-right: 50px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  width: 90%;
  max-width: 200px;
  display: block;
  padding-right: 50px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b9b7d;
  /* color of the scroll thumb */
  border: 2px solid #4b9b7d;
  height: 5px;
  width: 5px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scroller::-webkit-scrollbar {
  display: none;
}

/* accordion */

accordion-element {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

accordion-element[data-open="true"].faq .icon-plus {
  display: none;
}

accordion-element[data-open="true"].faq .icon-minus {
  display: block;
}

@media screen and (max-width: 767px) {
  .icon-plus svg {
    width: 14px;
  }

  .icon-minus svg {
    width: 14px;
  }
}

/* Gradient links */
.link-pack {
  background: linear-gradient(
    147.2deg,
    #4b9b7d 0%,
    rgba(75, 155, 125, 0.8) 22.03%,
    #d7e6af 78.4%,
    rgba(215, 230, 175, 0.5) 100%
  );
}

.link-item:hover::after {
  content: "";
  display: block;
  width: 65%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4b9b7d;
  border-radius: 3px;
}

/* card product */
.card-description p {
  font-size: 14px;
}


/* menu list before */
/*
.menu-list::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #efefef;
  position: relative;
  top: 8px;
  margin-right: 5px;
} */

.collection-card {
  background: linear-gradient(
    168.52deg,
    #4b9b7d 0%,
    rgba(75, 155, 125, 0.8) 35.48%,
    #d7e6af 59.33%,
    rgba(215, 230, 175, 0.5) 94.77%
  );
}

/* JUDGE ME */
.jdgm-preview-badge .jdgm-star.jdgm-star {
  font-size: 16px;
}

.jdgm-prev-badge__text {
  font-size: 16px;
}

.jdgm-rev-widg {
  width: 90%;
  max-width: 900px;
  margin: 20px auto !important;
  font-size: 16px;
}

.jdgm-rev-widg__title {
  visibility: unset;
  font-size: 1.875rem;
  margin-bottom: 50px !important;
}

.jdgm-rev__body {
  font-size: 14px;
}

@media (max-width: 639px) {
  .jdgm-rev-widg {
    font-size: 14px;
  }
}

.jdgm-rev-widg__title {
  font-size: 1.5rem !important;
  color: #4b9b7d;
}

.jdgm-prev-badge__text {
  font-size: 14px !important;
  text-decoration: underline !important;
}

.jdgm-all-reviews-widget {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .jdgm-rev-widg__title {
    font-size: 1.875rem !important;
    color: #4b9b7d;
  }

  .jdgm-rev-widg {
    margin: 50px auto !important;
  }
}

/* button just pay */
.just-button-main-label {
  font-size: 14px !important;
}

.just-btn {
  font-size: 14px !important;
}

.just-btn-sticky {
  font-size: 14px !important;
}

/* login and register */

.register-list li {
  display: flex;
  font-size: 14px;
  color: #4b9b7d;
  margin-bottom: 10px;
}
.register-list li::before {
  content: "";
  width: 24px;
  height: 24px;
  max-width: 24px;
  min-width: 24px;
  background-color: #4b9b7d;
  border-radius: 50%;
  margin-right: 12px;
}

/* yotpo */
.loyalty.popup{
  display:none !important;
}

.swell-tab{
  display:none !important;
}

.section-template--18869175812436__d7cb4c90-9163-4419-8300-e0f2c4ac6fa0-padding{
  padding-top:0 !important;
}
