<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/s9HEcxiqJOUSyDVKWDY6ww" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="366697"></div>
<style>
  .yotpo-widget-my-rewards-widget .yotpo-step-icon {
    display: inline-block;
}
  .yotpo-widget-campaign-widget-icon-container .yotpo-widget-campaign-widget-custom-icon {
    display: inline-block;
}
  .yotpo-widget-campaign-widget-icon {
    display: inline-block;
}
</style>